<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div>
	<h1> List of controllers</h1>
		
	<%= @controller_list.inspect %>
	
		<% @controller_list.each do |controller| %>
		<div>
			
		  ciao -  <%= link_to 'controller:' , controller %>
			
			</div>
		 
		<% end %>	  	 
	
	
</div>


