<h1>Welcome to the Home of project</h1>

<div>
	<h3> List of available controllers </h1>
	<ul>
		<% @controller_list.each do |controller| %>

		<li>
			<%= link_to controller.first , controller.last %>
		</li>

		<% end %>
	</ul>
</div>

